
@font-face {
    font-family: celtic;
    src: url(assets/celticmd.ttf);
}
html {
    height: 100%;
    overflow: hidden;
}

body { 
	max-width: 1920px; 
	margin: 0 auto !important; 
	float: none !important; 
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}


header {
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/Hero.png);
    background-position:  right 15% ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: x-large;
    z-index: -1;
    background-attachment: fixed;   
    
}

main {
    background-color: white;
    width: 100%;
    position: relative;
    z-index: 1;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    
    
}

section {
    padding: 10px 40px;
}


h1, h2, h3 {
    color: #38761d;
}

h1 {
    font-size: 20pt;
    font-family: aclonica;
    line-height: 1.5;
}

h2 {
    font-size: 20pt;
    font-family: aclonica;
    line-height: 1.5;
}

h3 {
    color: #3d85c6;
    font-size: 18pt;
    font-family: aclonica;
    margin-bottom: 2px;
     
}

p {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-size: 14pt;

}

a {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1em;   
}
a:link {
    color: #3d85c6;
}
a:visited {
    color: #38761d;
}
a:hover {
    color: purple;
}

button {
    background-color: #38761d;
    color: #ffff;
    font-size: 12pt;
    padding: 10px 24px;
    margin: auto;
    border-radius: 8px;
    border: none;
    width: 150px;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer; 
    display: block;
    
}
button:hover {
    opacity: 1
}


img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}


footer p, footer a {
    font-size: small;
    line-height: 1;
}


.squish_text {
    line-height: normal;
    font-size: 14pt;
}

.high_top {
    margin-top: 50px;
    text-align: justify;
}

.justify {
    text-align: justify;
}

.quote {
    text-align: center;
    font-style: italic;
    padding: 20px 20px;
}

.col {
    display: flex;
    margin: 20;
   
}

.col div {
    padding: 20px 10px;
    margin-right: 10px;
    max-width: 50%;

}

.col h2 {
    text-align: center;
}

.small_col {
    max-width: 1600px;
    margin: auto;
    justify-content: space-between;
}

#session_cards {
    max-width: 900px;
    justify-content: space-around;
    
}

.smlogo {
    max-width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.divbutton {
    border: 2px solid black;
    border-radius: 20px; 
    transition: 0.3s;
    cursor: pointer; 
    width: 320px;
    height: 450px;
    margin: auto;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 30px;
    overflow: hidden;
  

   
}
.divbutton h2 {
    text-decoration: underline;
}
.divbutton:hover {
    background-color: #4b3e36;
    transform: scale(1.1);
    color: white;
    
}

.button_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.button_row button {
    margin-right: 20px;
    margin-left: 20px;
}

.center {
    text-align: center;
}

.big_screen_only {
    display: none;
}

.flex_foot {
    display: flex;
    justify-content: space-evenly;
    
}

.nodec {
    text-decoration: none;
}

.spacer {
    height: 50px;
}

.calendly-inline-widget {
    min-width: 320px;
    height: 650px;
}


#logowtext {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    }

#logotagline h5{
    text-align: center;
    margin-top: -30px;
    font-family: celtic;
    font-size: 24px;
    color: whitesmoke;
    text-shadow: 6px 6px 12px black;
}
#logotagline h1 {
    display: none;
}

#copy {
    text-align: center;
}

#modalities {
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    
}

#agreement {
    width: 900px;
    height: 1500px;
    margin: 30px auto;
    display: block;
    
  
}


@media only screen and (min-width: 1500px) {
    .big_screen_only {
      display: flex;
    }
    .hide_big_screen {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .calendly-inline-widget {
        width: 550px;
        height: 1100px;
        display: flex;
        margin: auto;
    }
}


@media only screen and (max-width: 1000px) {
    .stack_early {
        flex-direction: column;
        align-items: center;
    }
    
    #logotagline h5 {
        margin-top: -15px;
        font-size: 14px;
    }
    #agreement {
        width: 600px;
        height: 1620px;
    }

    .calendly-inline-widget {
        width: 550px;
        height: 1100px;
        display: flex;
        margin: auto;
    }

}
  
@media only screen and (max-width: 600px) {
    .col {
        flex-direction: column;
        align-items: center;
    }
    .col div {
        max-width: 100%;
    }
    .big_screen_only {
        display: block;
    }
    .hide_big_screen {
        display: none;
    }
    #agreement {
        width: 500px;
        height: 1750px;
    }
    #logotagline h5 {
        margin-top: -5px;
        font-size: 12px;
    }
    .calendly-inline-widget {
        width: 450px;
        height: 1020px;
        display: flex;
        margin: auto;
    }
}

@media only screen and (max-width: 500px) {
    #agreement {
        width: 320px;
        height: 2380px;
    }
    .calendly-inline-widget {
        width: 320px;
        height: 1075px;
        display: flex;
        margin: auto;
    }
    header {
        background-image: none;
        height: auto;
    }
    #logotagline > h5 {
        color: #805ea0;
        font-size: 10px;
        text-shadow: none;
    }
    .button_row button {
        margin-bottom: 20px;
    }
    
    
}
